
ObjectDetectionForAR/Assets/Secure/authorizationKey.txt
ObjectDetectionForAR/Assets/Secure/authorizationKey.txt.meta
ObjectDetectionForAR/.vs
privatekey.zip
objectdetectionbthesis.cert
objectdetectionbthesis.privkey
